# sudo nano /etc/systemd/system/flask_app.service
[Unit]
Description=Gunicorn instance for webhook test poc flask app
After=network.target
[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/webhooktest/FlaskApp
ExecStart=/home/ubuntu/webhooktest/venv/bin/gunicorn -b localhost:5000 flask_app:app
Restart=always
[Install]
WantedBy=multi-user.target
# sudo systemctl daemon-reload
# sudo systemctl start flask_app
# sudo systemctl enable flask_app